<div id='feed'>

  <div class="container box is-widescreen ">
    <div>
      <input class="input is-primary" type="text" placeholder="What's on your mind?" style="margin-bottom: 10px">
      <button class="button is-primary">Submit Post</button>
    </div>
  </div>


  <!--  -->


  <article class="media box">
    <figure class="media-left">
      <a class="image is-64x64">
        <!-- Link to Post.User Profile -->
        <%= image_tag 'matz.jpg' %>
      </a>
    </figure>
    <div class="media-content">
      <div class="content">
        <a href="">
          <!-- Link to Post.User Profile -->
          <strong>Matz</strong> <small>@Ruby</small>
        </a>
          <small style="float:right;">31 mins ago</small>
        <p>
          Welcome to InCrowd!
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <button class="button is-info is-small is-outlined"><strong>Comments </strong> <small>- 0</small></button>
        </div>
        <div class="level-right">
        </div>
      </nav>
    </div>
  </article>
  <article class="media box">
    <figure class="media-left">
      <a class="image is-64x64">
        <!-- Link to Post.User Profile -->
        <%= image_tag 'matz.jpg' %>
      </a>
    </figure>
    <div class="media-content">
      <div class="content">
        <a href="">
          <!-- Link to Post.User Profile -->
          <strong>Matz</strong> <small>@Ruby</small>
        </a>
          <small style="float:right;">31 mins ago</small>
        <p>
          Post 3
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <button class="button is-info is-small is-outlined"><strong>Comments </strong> <small>- 0</small></button>
        </div>
        <div class="level-right">
        </div>
      </nav>
    </div>
  </article>
  <article class="media box">
    <figure class="media-left">
      <a class="image is-64x64">
        <!-- Link to Post.User Profile -->
        <%= image_tag 'matz.jpg' %>
      </a>
    </figure>
    <div class="media-content">
      <div class="content">
        <a href="">
          <!-- Link to Post.User Profile -->
          <strong>Matz</strong> <small>@Ruby</small>
        </a>
          <small style="float:right;">31 mins ago</small>
        <p>
          Post 2
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <button class="button is-info is-small is-outlined"><strong>Comments </strong> <small>- 0</small></button>
        </div>
        <div class="level-right">
        </div>
      </nav>
    </div>
  </article>
  <article class="media box">
    <figure class="media-left">
      <a class="image is-64x64">
        <!-- Link to Post.User Profile -->
        <%= image_tag 'matz.jpg' %>
      </a>
    </figure>
    <div class="media-content">
      <div class="content">
        <a href="">
          <!-- Link to Post.User Profile -->
          <strong>Matz</strong> <small>@Ruby</small>
        </a>
          <small style="float:right;">31 mins ago</small>
        <p>
          Post 1
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <button class="button is-info is-small is-outlined"><strong>Comments </strong> <small>- 0</small></button>
        </div>
        <div class="level-right">
        </div>
      </nav>
    </div>
  </article>

</div>
