<div id="crowd-updates">MyCrowd Updates:
  <div class="box">
    <a>Crowd1</a>
    <p>
      Link to last post in crowd
    </p>
  </div>
  <div class="box">
    <a>Crowd2</a>
    <p>
      Link to last post in crowd
    </p>
  </div>
  <div class="box">
    <a>Crowd3</a>
    <p>
      Link to last post in crowd
    </p>
  </div>
</div>
